main {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  /* main, 4 projects, contact = 6 full screens */
  grid-template-columns: repeat(12, 50vw);
  grid-template-rows: 100vh;
  align-items: center;
  pointer-events: none;
}

.mainHeader {
  grid-column: 1/3;
  justify-self: center;
  text-align: center;
}

.mainHeader h1 {
  font-size: 4rem;
  margin-bottom: 4rem;
}

.mainHeader span {
  display: block;
  font-size: 1.75rem;
  margin-top: 1rem;
}

.mainHeader p {
  font-size: 1.5rem;
  margin-top: 1rem;
}

.projects {
  grid-column: 3/11;
  display: grid;
  grid-template-areas: "blank firstProject blank secondProject blank thirdProject blank fourthProject";
  grid-template-columns: repeat(8, 50vw);
}

.projects:nth-child(1) {
  grid-area: "firstProject";
}
.projects:nth-child(2) {
  grid-area: "secondProject";
}
.projects:nth-child(3) {
  grid-area: "thirdProject";
}
.projects:nth-child(4) {
  grid-area: "fourthProject";
}

.contact {
  grid-column: 11/12;
}
