@font-face {
  font-family: "Playfair Display";
  font-weight: 700;
  src: local("Playfair Display Bold"),
    url("./assets/fonts/playfairdisplay-bold-webfont.woff2") format("woff2"),
    url("./assets/fonts/playfairdisplay-bold-webfont.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  font-weight: 900;
  src: local("Playfair Display Extrabold"), local("Playfiar Display Black"),
    url("./assets/fonts/playfairdisplay-black-webfont.woff2") format("woff2"),
    url("./assets/fonts/playfairdisplay-black-webfont.woff") format("woff");
  font-display: swap;
}

:root {
  --font-color: black;
  --background-color: white;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
}

html,
body,
#root {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-weight: bold;
  font-family: "Playfair Display", serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.scene {
  color: var(--font-color);
}

@media (min-width: 600px) {
  html,
  body,
  #root {
    font-size: 16px;
  }
}
